<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="controllers.js"></script>
</head>
<body>
<div ng-controller="WatchController">
    <input ng-model="number.start" placeholder="Initial number">
    <input ng-model="number.multiplier" placeholder="Multiplier">
    <!-- This could be the path to take, but we want to use watch
    <p>Result: {{number.start * number.multiplier}}</p>
    -->
    <p>Result: {{result}}</p>
</div>
</body>
</html>